body{background-color: hsl(54, 74%, 92%);}
p{color: black;}
.clientColor{
    color: brown;
background-color:hsl(167, 93%, 49%);
}

.clientColor2{color: #e91212;;}

table { 
font-size: larger;
border-collapse: collapse;
text-align: end;
}
th,td { border-style: botted;
    padding: 15px;
}