.customDIV{
    background-color: rgb(113, 120, 126);
    width: 100px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
}
.container
.container3 {
    display: flex;
}
.container2,
.container4{
    display: flex;
    flex-direction: column;
}