div {
   background-color: brown;
}
.extra > div {
    background-color: grey;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
}

.container {
    display: grid;
    grid-template-columns: auto 158px auto;
 }

 .container2{
    display: grid;
    grid-template-columns: auto 300px auto;
 }
 .container3{
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto 150px auto;
 }
 .container4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5%;
 }
 .container5{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
 }
 .container6{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
 }
 .container7{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    height: 500px;
 }
 .item1-7{
    grid-column: 1 / 4;
 }
 .item4-7{
    grid-column: 2 / 4;
 }
 .item7-7{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
 }
 .item11-7{
    grid-column: 3 / 5;
    grid-row: 4 / 6;
 }
 .container9{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
 }
 .container10{
    display: grid;
    grid-template-columns: auto 160px auto auto;
    align-content: center;
    justify-content: space-evenly;
    height: 700px;
 }
 .fromgrid{
   display: flex;
   flex-wrap: wrap;
 }
 .fromgrid > div{
   margin-right: 5px;
   margin-bottom: 5px;
 }
 .item1-f{
   width: 75%;
 }
 .item2-f{
   width: 25%;

 }